body{
  background-image: url("AbstractWallpaper.jpg");
  color:white;
  font-family: Georgia, sans-serif;
  background-blend-mode:darken;
}

header{
  background-image: url(Banner.jfif);
  background-color: black;
  text-align: center;
  height: 150px;
  background-repeat: no-repeat;
  display: block;
}

h1{
  margin:0;
  text-align: center;
  padding-top:0px;
  padding-left:0px;
  font-size: 120px;
  font-family:'Copperplate Gothic', serif;
  color: white;

}

h2 {
  padding-top:10px;
  font-size:28px;
  text-align:center;
  font-family:Georgia, sans-serif;
}

p{
  padding-top:25px;
  padding-left:250px;
  padding-right:250px;
  font-size:16px;
  font-family:Georgia, sans-serif;
  padding-bottom:0.5em;
}

ul{
  padding-top: 25px;
  padding-left: 250px;
  padding-right: 250px;
  font-size:16px;
  font-family: Georgia, sans-serif;
}

li span{
  display:block;
  left:-5em;
}

footer{
  padding-top: 1em;
  padding-bottom:1em;
  font-size: 20px;
  text-align: center;
}

img {
    max-width:50%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

#HirschbergLab img {
    max-width:75%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

button {
  background-color: aliceblue; 
  border: 2px solid black;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: mediumblue;
  color: white;
}

button {
    text-align: right;
    display: inline-block;
}

/* Sidebar */
.sidenav {
  background-repeat: no-repeat;
  font-family: Helvetica, sans-serif;
  display: none;
  height: 90%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: midnightblue;
  color:white;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav span{
  color:white;
  position:absolute;
  left:30px;
  top:30px;
}

.sidenav a{
  padding: 30px 10px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:turquoise;
  display:block;
}
.sidenav a:hover {
  color:dodgerblue;
}

.sidenav a:visited{
  color: orchid;
}

.sidenav .closebtn{
  position:absolute;
  color: turquoise;
  top:0;
  right:25px;
  font-size: 40px;
  margin-left:50px;
}

.sidenav img{
  width:200%;
  height:16%;
}
/* End Sidebar */   